<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-body mb-4">
                <h2 class="text-center"><strong>Signup Form</strong></h2>
                <form [formGroup]="signUpForm" (ngSubmit)="onSignUpForm()">
                    <div formGroupName="userDetails">
                        <div class="form-group">
                            <label for="username"><strong>Username <sup class="color">*</sup></strong></label>
                            <input id="username" class="form-control" formControlName="username" type="text">
                            <span class="color"
                                *ngIf="f['userDetails'].get('username')?.touched && f['userDetails'].get('username')?.hasError('required')">
                                <strong>
                                    Username is a required field.
                                </strong>
                            </span>
                            <ng-container *ngIf="f['userDetails'].get('username')?.dirty">
                                <span class="color" *ngIf="f['userDetails'].get('username')?.hasError('pattern')">
                                    <strong>
                                        Please Enter valid values.
                                    </strong>
                                </span>
                                <span class="color" *ngIf="f['userDetails'].get('username')?.hasError('minlength')">
                                    <strong>
                                        Username minimum length should be
                                        {{f['userDetails'].get('username')?.errors?.['minlength'].requiredLength}}
                                        and actual length is
                                        {{f['userDetails'].get('username')?.errors?.['minlength'].actualLength}}
                                    </strong>
                                </span>
                                <span class="color" *ngIf="f['userDetails'].get('username')?.hasError('maxlength')">
                                    <strong>
                                        Username maximum length should be
                                        {{f['userDetails'].get('username')?.errors?.['maxlength'].requiredLength}}
                                        and actual length is
                                        {{f['userDetails'].get('username')?.errors?.['maxlength'].actualLength}}
                                    </strong>
                                </span>
                                <span class="color" *ngIf="f['userDetails'].get('username')?.hasError('noSpaceErr')">
                                    <strong>
                                        {{f['userDetails'].get('username')?.errors?.['noSpaceErr']}}
                                    </strong>
                                </span>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label for="email"><strong>Email <sup class="color">*</sup></strong></label>
                            <input type="text" id="email" formControlName="email" class="form-control">
                            <span class="color" *ngIf="f['userDetails'].get('email')?.touched && f['userDetails'].get('email')?.hasError('required')">
                                <strong>
                                    Email Id is a required field.
                                </strong>
                            </span>
                            <span class="color" *ngIf="f['userDetails'].get('email')?.dirty && f['userDetails'].get('email')?.hasError('pattern')">
                                <strong>
                                    Please Enter valid Email Id
                                </strong>
                            </span>
                            <div class="text-primary" *ngIf="f['userDetails'].get('email')?.pending">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Checking Email
                            </div>
                            <span class="color" *ngIf="f['userDetails'].get('email')?.dirty && f['userDetails'].get('email')?.hasError('emailExistErr')">
                                <strong>
                                    {{f['userDetails'].get('email')?.errors?.['emailExistErr']}}
                                </strong>
                            </span>
                            <span class="color-green" *ngIf="f['userDetails'].get('email')?.valid">
                                <strong>
                                    This email id is available
                                </strong>
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="empId"><strong>EmpId <sup class="color">*</sup></strong></label>
                        <input id="empId" formControlName="empId" placeholder="M123" type="text" class="form-control">
                        <span class="color" *ngIf="f['empId'].touched && f['empId'].hasError('required')">
                            <strong>
                                EmpId is a required field.
                            </strong>
                        </span>
                        <span class="color" *ngIf="f['empId'].dirty && f['empId'].hasError('invalidEmpId')">
                            <strong>
                                {{f['empId'].errors?.['invalidEmpId']}}
                            </strong>
                        </span>
                        <span class="color-green" *ngIf="f['empId'].valid">
                            <strong>
                                This is a valid Emp Id
                            </strong>
                        </span>

                    </div>
                    <p><strong>Gender</strong></p>
                    <div class="form-group">
                        <label for="male">
                            <input type="radio" value="male" name="gender" formControlName="gender" name="gender"
                                id="male">
                            Male
                        </label>
                        <label for="female" class="ml-2">
                            <input type="radio" value="female" name="gender" formControlName="gender" name="gender"
                                id="female">
                            Female
                        </label>
                        <label for="others" class="ml-2">
                            <input type="radio" value="others" name="gender" formControlName="gender" name="gender"
                                id="others">
                            others
                        </label>
                    </div>
                    <div formArrayName="skills">
                        <strong>Skills</strong>
                        <div class="row mb-4" *ngFor="let skill of skillsFormArr.controls; let i = index">
                            <div class="col-md-9">
                                <input type="text" class="form-control" [formControlName]="i">
                                <span class="color" *ngIf="skill.touched && skill.hasError('required')">
                                    <strong>
                                        Skills is a required field.
                                    </strong>
                                </span>
                            </div>
                            <div class="col-md-3" *ngIf="i > 0">
                                <button class="btn btn-outline-danger" type="button" (click)="onRemoveSkill(i)">
                                    <strong>
                                        Remove
                                    </strong>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-outline-primary" type="button" (click)="onAddSkill()"
                                    [hidden]="skillsFormArr.length >= 5">
                                    <strong>
                                        Add Skill
                                    </strong>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" formGroupName="currentAddress">
                            <h3 class="text-center mb-1"><strong>Current Address</strong></h3>
                            <div class="form-group">
                                <select class="form-control" formControlName="country">
                                    <option value="">Select Country</option>
                                    <option value="{{coun.Country}}" *ngFor="let coun of conInfo">
                                        {{coun.Country}}
                                    </option>
                                </select>
                                <span class="color"
                                    *ngIf="f['currentAddress'].get('country')?.touched && f['currentAddress'].get('country')?.hasError('required')">
                                    <strong>
                                        Country is a required field
                                    </strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="State" formControlName="state" class="form-control">
                                <span class="color"
                                    *ngIf="f['currentAddress'].get('state')?.touched && f['currentAddress'].get('state')?.hasError('required')">
                                    <strong>
                                        State is a required field
                                    </strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="City" formControlName="city" class="form-control">
                                <span class="color"
                                    *ngIf="f['currentAddress'].get('city')?.touched && f['currentAddress'].get('city')?.hasError('required')">
                                    <strong>
                                        City is a required field
                                    </strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Zipcode" formControlName="zipcode" class="form-control">
                                <span class="color"
                                    *ngIf="f['currentAddress'].get('zipcode')?.touched && f['currentAddress'].get('zipcode')?.hasError('required')">
                                    <strong>
                                        Zipcode is a required field
                                    </strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6" formGroupName="permanentAddress">
                            <h3 class="text-center mb-1"><strong>Permanent Address</strong></h3>
                            <div class="form-group">
                                <select class="form-control" formControlName="country">
                                    <option value="">Select Country</option>
                                    <option value="{{coun.Country}}" *ngFor="let coun of conInfo">
                                        {{coun.Country}}
                                    </option>
                                </select>
                                <span class="color"
                                    *ngIf="f['permanentAddress'].get('country')?.touched && f['permanentAddress'].get('country')?.hasError('required')">
                                    <strong>
                                        Country is a required field
                                    </strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="State" formControlName="state" class="form-control">
                                <span class="color"
                                    *ngIf="f['permanentAddress'].get('state')?.touched && f['permanentAddress'].get('state')?.hasError('required')">
                                    <strong>
                                        State is a required field
                                    </strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="City" formControlName="city" class="form-control">
                                <span class="color"
                                    *ngIf="f['permanentAddress'].get('city')?.touched && f['permanentAddress'].get('city')?.hasError('required')">
                                    <strong>
                                        City is a required field
                                    </strong>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Zipcode" formControlName="zipcode" class="form-control">
                                <span class="color"
                                    *ngIf="f['permanentAddress'].get('zipcode')?.touched && f['permanentAddress'].get('zipcode')?.hasError('required')">
                                    <strong>
                                        Zipcode is a required field
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="isAddSame">
                                <input type="checkbox" formControlName="isAddSame" id="isAddSame">
                                <strong>
                                    Permanent Address is same as Current Address
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password"><strong>Password <sup class="color">*</sup></strong></label>
                        <input type="text" id="password" formControlName="password" class="form-control">
                        <span class="color" *ngIf="f['password'].touched && f['password'].hasError('required')">
                            <strong>
                                Password is a required field.
                            </strong>
                        </span>
                        <span class="color" *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
                            <strong>
                                Please Enter valid password
                            </strong>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"><strong>Confirm Password <sup
                                    class="color">*</sup></strong></label>
                        <input type="text" id="confirmPassword" formControlName="confirmPassword" class="form-control">
                        <span class="color"
                            *ngIf="f['confirmPassword'].touched && f['confirmPassword'].hasError('required')">
                            <strong>
                                confirm Password is a required field.
                            </strong>
                        </span>
                        <span class="color"
                            *ngIf="f['confirmPassword'].dirty && f['confirmPassword'].hasError('passAndConfErr')">
                            <strong>
                                {{f['confirmPassword'].errors?.['passAndConfErr']}}
                            </strong>
                        </span>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn alert-primary btn-primary" [disabled]="signUpForm.invalid">
                            <strong>
                                Sign Up
                            </strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>